.bordure {
    border: 3px solid green;
}

.active {
    border: 3px solid red;
}

.img-style { 
    width: 140px;
    height: 140px;
}

#jeu__selection {
    padding-top: 40px;
    background-color : black;
    color: white;
}
    
    input {
        display: none;
    }

    input:checked ~ div span{
        border: 2px solid blue;
    }
    
    input:checked ~ .jeu__selection_exp{
        visibility: visible;
    }
    
    .jeu__selection_exp {
        visibility: hidden;
        display: block;
    }
    
    
    #jeu__selection-button {
        margin: 15px;
    }
    
    .jeu__selection_video_1 {
        width : 100%;
        height : 800px;
        display: none;
    }

    #jeu__selection__video_param {        
        valuetype : "https://www.youtube.com/v/llq528pnv9c";
    }
    
   
.choix_util  {
    min-height : 600px;
    min-width: 500px;
}
    .choix__img-style {
        position : absolute;
    }
    
    .img-devant {
        z-index: 2;
    }
        
    .img-derriere {
        z-index: 1;
    }
    
    .animation1 {
        transition: top 3s, left 5s;
    }
    
    .animation2 {
        transition: top 1s, left 1s;
    }

#action {
    height : 120px;
    line-height: 120px;
}
    
    #fight p {
        text-align: center;
    }
    
        #fight #fight__joueur {
            float: right;
        }
        
        #fight #fight__ordi {
            float: left;
        }
        
        
        
footer {
    text-align: right;
    margin-right: 60px
}
    .twitter {
        height: 50px;
    }